<div class="main">
  <div class="login">
  <h2>Log in</h2>
  <!-- <%= flash %> -->

     <%= form_with(scope: :session, url: sessions_path) do |f| %>
     <form>
     <div class="form-group">
        <label for="InputEmail">メールアドレス</label>
        <%= f.email_field :user_email, class: "form-control", id: "InputEmail", placeholder: "aaa@example.com", required: true %>
     </div>

     <div class="form-group">
       <label for="InputPassword">パスワード</label>
       <%= f.password_field :password, class: "form-control", id: "InputPassword", placeholder: "パスワード", required: true %>
     </div>

     <%= f.submit "Log in", class: "btn btn-default" %>
     </form>
     <% end %>

  </div>
</div>
