<div class="main">
  <div class="signup">
  <h2>Sign up for a new account</h2>
    <!-- <%= image_tag 'background1.jpg' , :width =>"100%" %> -->
    <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this @user from being saved:</h2>
      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= form_with(model: @user, local: true) do |f| %>
  <form>

    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputFirstName">First name</label>
        <%= f.text_field :first_name, class: "form-control", id: "inputFirstName", placeholder: "First name" %>
      </div>
      <div class="form-group col-md-6">
        <label for="inputLastName">Last name</label>
        <%= f.text_field :last_name, class: "form-control", id: "inputLasttName", placeholder: "Last name" %>
      </div>
    </div>

    <div class="form-group">
       <label for="InputEmail">Email address</label>
       <%= f.email_field :user_email, class: "form-control", id: "InputEmail", placeholder: "aaa@example.com" %>
    </div>



  <div class="form-group">
    <label for="InputBirthday">Birthday</label>
    <%= f.date_select :birth_date, class: "form-control", id: "InputBirthday", use_month_numbers: true, start_year: 1930, date_separator: '/' %>
  </div>

  <div class="form-group">
    <label for="InputPassword">Password</label>
    <%= f.password_field :password, class: "form-control", id: "InputPassword", placeholder: "パスワード" %>
  </div>

  <div class="form-group">
    <label for="InputPasswordConfirm">Password confirm</label>
    <%= f.password_field :password_confirmation,class: "form-control", id: "InputPasswordConfirm", placeholder: "パスワード確認"  %>
  </div>

    <%= f.submit "Create my account", class: "btn btn-default" %>
  </form>
  <% end %>
  </div>
</div>
