<%= form_with(model: @letsbuy, local: true, url: confirm_letsbuys_path(id: @item.id)) do |f|%>

 <%= f.hidden_field :item_id, :value => @item.id %>
 <%= f.hidden_field :user_id, :value => current_user.id %>
<div class="table-parent">
<table class="letsbuy-table">
  <thead>
    <tr>
      <th colspan="2">
        購入画面
      </th>
    </tr>
  </thead>

  <tbody>
     <tr>
       <th>アイテムユーザー</th>
       <td><%= @item.user.first_name %>さん</td>
     </tr>

     <tr>
       <th>アイテム名</th>
       <td><%= @item.item_name %></td>
     </tr>

     <tr>
       <th>アイテム画像</th>
       <td><%= image_tag @item.item_image.url, class: "letsbuy-image"  %></td>
     </tr>

     <% if @item.item_detail.present? %>
     <tr>
       <th>アイテム詳細</th>
       <td><%= @item.item_detail %></td>
     </tr>
     <% end %>

     <tr>
       <th>アイテム金額</th>
       <td><%= @item.item_cost %> 円</td>
     </tr>

     <tr>
       <th>現在の残額</th>
       <td><%= @item.item_cost - sum_amount(@item.id) %> 円</td>
     </tr>



     <tr>
       <th>購入金額</th>
       <td>

       <%= f.number_field :pay_amount, class:"pay_amount", placeholder: "購入金額を入力してください", required: true, min:1, max: @item.item_cost - sum_amount(@item.id) %> 円
     </td>
     </tr>

     <tr>
       <th colspan="2">
         <%= f.submit "確認画面へ進む", class: "btn btn-default" %>

       </th>
     </tr>

  </tbody>
</table>
<div>
<% end %>
